apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: common-haproxy-redis
  namespace: devops
spec:
  releaseName: common-haproxy-redis
  interval: 1m0s
  install:
    remediation:
      retries: 5
    disableWait: true
  upgrade:
    disableWait: true
  chart:
    spec:
      chart: haproxy
      version: 2.1.6
      sourceRef:
        kind: GitRepository
        name: devops-helm-charts
        namespace: flux-system
  values:
    image:
      registry: 857556598075.dkr.ecr.us-west-1.amazonaws.com
      repository: plivo/haproxy-3.0.5
      tag: haproxy-3.0.5
    startupProbe:
      enabled: true
      exec:
        command:
          - pgrep
          - haproxy
      initialDelaySeconds: 5
      periodSeconds: 3
      timeoutSeconds: 2
      failureThreshold: 10
    readinessProbe:
      initialDelaySeconds: 0
      periodSeconds: 5
      timeoutSeconds: 2
    livenessProbe:
      initialDelaySeconds: 0
      periodSeconds: 5
      timeoutSeconds: 2
    podAnnotations:
      prometheus.io/path: /metrics
      prometheus.io/port: '8405'
      prometheus.io/scheme: http
      prometheus.io/scrape: 'true'
    replicaCount: 2
    resources:
      requests:
        cpu: 20m
        memory: 80Mi
      limits:
        cpu: 120m
        memory: 128Mi
    tolerations:
      - key: ops.plivo.com/dedicated-for
        value: devops
    updateStrategy:
      type: RollingUpdate
      rollingUpdate:
        maxSurge: 1
        maxUnavailable: 0
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: ops.plivo.com/dedicated-for
                  operator: In
                  values:
                    - devops
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - topologyKey: kubernetes.io/hostname
            labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/instance
                  operator: In
                  values:
                    - common-haproxy-redis
    containerPorts:
      - name: metrics
        containerPort: 8405
      - name: default
        containerPort: 6378
      - name: paas
        containerPort: 6379
    service:
      type: ClusterIP
      ports:
        - name: tcp-metrics
          protocol: TCP
          port: 8405
          targetPort: metrics
        - name: tcp-redis-default
          protocol: TCP
          port: 6378
          targetPort: default
        - name: tcp-redis-paas
          protocol: TCP
          port: 6379
          targetPort: paas
    configuration: |+
      resolvers mydns
        parse-resolv-conf
        resolve_retries     100
        hold other           5s
        hold refused         5s
        hold nx              5s
        hold timeout         5s
        hold valid           5s
        hold obsolete        5s

      # Sets the default connection settings for Redis
      defaults REDIS
        default-server init-addr libc,none
        mode tcp
        timeout connect 4s
        timeout server 15s
        timeout client 15s
        timeout check 2s

      frontend dummy-frontend  
        bind *:6378
        default_backend dummy-backend  

      backend dummy-backend  
        server dummy 127.0.0.1:8080

      frontend prometheus
        bind :8405
        mode http
        http-request use-service prometheus-exporter
        no log

      frontend ft_paas
          bind *:6379
          use_backend bk_paas
      backend bk_paas
          mode tcp
          option tcp-check
          tcp-check connect
          tcp-check send PING\r\n
          tcp-check expect string +PONG
          tcp-check send "info replication\r\n"
          tcp-check expect string role:master
          tcp-check send QUIT\r\n
          tcp-check expect string +OK

          server R0 redis-paas-node-0.redis-paas-headless.devops.svc.cluster.local:6379 resolvers mydns check inter 500ms fall 1 rise 1
          server R1 redis-paas-node-1.redis-paas-headless.devops.svc.cluster.local:6379 resolvers mydns check inter 500ms fall 1 rise 1

    extraEnvVars: []

---
apiVersion: v1
kind: Service
metadata:
  name: common-haproxy-redis-nlb
  namespace: devops
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-scheme: internal
    service.beta.kubernetes.io/aws-load-balancer-type: external
    service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: tcp
    service.beta.kubernetes.io/load-balancer-source-ranges: 10.0.0.0/8
    service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags: Team=devops,Billing=devops
spec:
  type: LoadBalancer
  ports:
    - name: tcp-default
      protocol: TCP
      port: 6378
      targetPort: 6378
    - name: tcp-redis-paas
      protocol: TCP
      port: 6379
      targetPort: 6379
  selector:
    app.kubernetes.io/component: haproxy
    app.kubernetes.io/instance: common-haproxy-redis
    app.kubernetes.io/name: haproxy
