apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: redis-paas
  namespace: devops
  annotations:
    redis.plivo.com/bandwidth: 0
    redis.plivo.com/userMemory: 20mb
    redis.plivo.com/throughput: 0
spec:
  releaseName: redis-paas
  interval: 1m0s
  timeout: 10m
  install:
    remediation:
      retries: 3
    disableWait: true
  upgrade:
    disableWait: true
  chart:
    spec:
      chart: redis-sentinel
      version: 20.1.5
      sourceRef:
        kind: GitRepository
        name: devops-helm-charts
        namespace: flux-system
  values:
    global:
      security:
        allowInsecureImages: true
    image:
      registry: 857556598075.dkr.ecr.us-west-1.amazonaws.com
      repository: plivo/bitnami-redis/redis-7.4.0
      tag: 25.02.28.1484
    auth:
      enabled: false
      sentinel: false
    metrics:
      enabled: true
      image:
        registry: 857556598075.dkr.ecr.us-west-1.amazonaws.com
        repository: plivo/bitnami-redis/redis-exporter-1.63.0
        tag: 25.02.26.1481
      resources:
        limits:
          ephemeral-storage: 2Gi
          memory: 20Mi
        requests:
          ephemeral-storage: 50Mi
          memory: 20Mi
    architecture: replication
    useHostnames: true
    commonConfiguration: |-
      bind 0.0.0.0
      maxmemory 20mb
      maxmemory-policy noeviction
      # Enable AOF https://redis.io/topics/persistence#append-only-file
      appendonly yes
      save 900 1
      save 300 10
      save 60 10000
    replica:
      extraFlags:
        - '--loadmodule /opt/bitnami/redis/modules/redisjson.so'
      persistence:
        enabled: true
        storageClass: gp3
        size: 1Gi
      resources:
        requests:
          memory: 20Mi
        limits:
          memory: 20Mi
      replicaCount: 2
      tolerations:
        - key: ops.plivo.com/dedicated-for
          value: devops
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: kubernetes.io/hostname
              labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                      - redis-paas
      topologySpreadConstraints: []
    sentinel:
      image:
        registry: 857556598075.dkr.ecr.us-west-1.amazonaws.com
        repository: plivo/bitnami-redis/redis-sentinel-7.4.0
        tag: 25.02.26.1480
      enabled: true
      quorum: 2
      configuration: |
        sentinel down-after-milliseconds master 1000
      resources:
        requests:
          memory: 20Mi
        limits:
          memory: 20Mi
      masterSet: master
