apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: redis-paas
  namespace: devops
  annotations:
    redis.plivo.com/bandwidth: 0
    redis.plivo.com/userMemory: 20mb
    redis.plivo.com/throughput: 0
    filepath: clusters/pre-prod/pre-prod-us-east-1/tenants/devops/devops-common/resources/redis-paas.yaml
spec:
  releaseName: redis-paas
  interval: 1m0s
  timeout: 10m
  install:
    remediation:
      retries: 3
    disableWait: true
  upgrade:
    disableWait: true
  chart:
    spec:
      chart: redis-sentinel
      version: 20.1.5
      sourceRef:
        kind: GitRepository
        name: devops-helm-charts
        namespace: flux-system
  values:
    global:
      security:
        allowInsecureImages: true
    image:
      registry: 857556598075.dkr.ecr.us-west-1.amazonaws.com
      repository: plivo/bitnami-redis/redis-7.4.0
      tag: 25.02.28.1484
    auth:
      enabled: false
      sentinel: false
    metrics:
      enabled: true
      image:
        registry: 857556598075.dkr.ecr.us-west-1.amazonaws.com
        repository: plivo/bitnami-redis/redis-exporter-1.63.0
        tag: 25.02.26.1481
      resources:
        limits:
          ephemeral-storage: 2Gi
          memory: 20Mi
        requests:
          ephemeral-storage: 50Mi
          memory: 20Mi
    architecture: replication
    useHostnames: true
    commonConfiguration: |-
      bind 0.0.0.0
      maxmemory 20mb
      maxmemory-policy noeviction
      # Enable AOF https://redis.io/topics/persistence#append-only-file
      appendonly yes
      save 900 1
      save 300 10
      save 60 10000
    replica:
      extraFlags:
        - '--loadmodule /opt/bitnami/redis/modules/redisjson.so'
      persistence:
        enabled: true
        storageClass: gp3
        size: 1Gi
      resources:
        requests:
          memory: 60Mi
        limits:
          memory: 60Mi
      replicaCount: 2
      tolerations:
        - key: ops.plivo.com/dedicated-for
          value: devops
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: kubernetes.io/hostname
              labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                      - redis-paas
    sentinel:
      image:
        registry: 857556598075.dkr.ecr.us-west-1.amazonaws.com
        repository: plivo/bitnami-redis/redis-sentinel-7.4.0
        tag: 25.02.26.1480
      enabled: true
      quorum: 2
      configuration: |
        sentinel down-after-milliseconds master 1000
      resources:
        requests:
          memory: 20Mi
        limits:
          memory: 20Mi
      masterSet: master
    networkPolicy:
      enabled: true
      allowExternal: false
      allowExternalEgress: false
      extraIngress:
        - from:
            - podSelector:
                matchLabels:
                  app.kubernetes.io/instance: common-haproxy-redis
                  app.kubernetes.io/name: haproxy
          ports:
            - port: 6379
              protocol: TCP
        - from:
            - podSelector:
                matchLabels:
                  app: redis-extra-sentinel-paas
          ports:
            - port: 26379
              protocol: TCP
            - port: 6379
              protocol: TCP
      extraEgress:
        - to:
            - podSelector:
                matchLabels:
                  app: redis-extra-sentinel-paas
          ports:
            - port: 6379
              protocol: TCP
            - port: 26379
              protocol: TCP
      ingressNSMatchLabels: {}
      ingressNSPodMatchLabels: {}
      metrics:
        allowExternal: false
        ingressNSMatchLabels:
          kubernetes.io/metadata.name: monitoring
        ingressNSPodMatchLabels: {}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-extra-sentinel-paas
  namespace: devops
  labels:
    app: redis-extra-sentinel-paas
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis-extra-sentinel-paas
  template:
    metadata:
      labels:
        app: redis-extra-sentinel-paas
    spec:
      tolerations:
        - key: ops.plivo.com/dedicated-for
          value: devops-redis-sentinel-spot
      containers:
        - name: sentinel
          image: 857556598075.dkr.ecr.us-west-1.amazonaws.com/plivo/bitnami-redis/redis-sentinel-7.4.0:25.02.26.1480
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
            limits:
              cpu: 100m
              memory: 100Mi
          ports:
            - name: sentinel
              containerPort: 26379
          env:
            - name: REDIS_MASTER_SET
              value: master
            - name: REDIS_MASTER_HOST
              value: redis-paas-node-0.redis-paas-headless.devops.svc.cluster.local
            - name: REDIS_MASTER_PORT_NUMBER
              value: '6379'
            - name: REDIS_SENTINEL_QUORUM
              value: '2'
            - name: REDIS_SENTINEL_DOWN_AFTER_MILLISECONDS
              value: '1000'
            - name: REDIS_SENTINEL_FAILOVER_TIMEOUT
              value: '180000'
            - name: REDIS_SENTINEL_RESOLVE_HOSTNAMES
              value: 'yes'
          readinessProbe:
            exec:
              command:
                - bash
                - '-lc'
                - /opt/bitnami/redis-sentinel/bin/redis-cli -p 26379 ping | grep PONG
            initialDelaySeconds: 5
            periodSeconds: 5

---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: redis-extra-sentinel-paas-isolation
  namespace: messaging
spec:
  podSelector:
    matchLabels:
      app: redis-extra-sentinel-paas
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app.kubernetes.io/instance: redis-paas
              app.kubernetes.io/name: redis
      ports:
        - protocol: TCP
          port: 26379
        - protocol: TCP
          port: 6379
  egress:
    - to:
        - namespaceSelector: {}
      ports:
        - protocol: UDP
          port: 53
        - protocol: TCP
          port: 53
    - to:
        - podSelector:
            matchLabels:
              app.kubernetes.io/instance: redis-paas
              app.kubernetes.io/name: redis
      ports:
        - protocol: TCP
          port: 6379
        - protocol: TCP
          port: 26379
